.equipo{
    width: 100%;
    
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    
}
.input-color{

    position: absolute;
    top: 20px;
    right: 50px;
    
}

.equipo h3{
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
    border-bottom: 4px solid;
}

.colaboradores{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}