.boton{
    background-color: rgb(7, 0, 73);
    border-radius: 10px;
    font-weight: 70;
    font-size: 18px;
    padding: 14px 22px;
    color: rgb(255, 255, 255);
    margin: 32px 0;
    cursor: pointer;
}
.boton:hover{
    transform: scale(1.019);
    background-color: rgb(9, 0, 173);
}